* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Adding gap to the body creates white space between hero and header.
Try adding flex:1 to hero section once flex properties are established*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 24px;
    padding: 12px 0px;
    margin-left: 80px;
}

header, .hero, .page-footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.nav-wrap {
    display: flex;
    list-style-type: none;
    gap: 20px;
    padding: 0;
    margin-right: 80px;
}

.nav-link {
    text-decoration: none;
    color: #F9FAF8;
    padding: 8x;
}

li a:hover {
    text-decoration: underline;
}

.hero {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.signup-wrap {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}

.hero-img {
    max-width: 500px;
    max-height: 300px;
    margin-right: 80px;
}

.icon {
    max-width: 200px;
    max-height: 200px;
}

